@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-image: url(../images/firstshadow.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 56vw;
}

.navigation {
  margin-left: 15vw;
  word-spacing: 3vw;
  position: relative;
  top: 1.5vw;
}
.navigation .navigation__logo {
  position: relative;
  height: 2.3vw;
  top: 1vw;
  padding-right: 8vw;
}
.navigation a {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-weight: 600;
  font-size: 0.9vw;
}
.navigation .navigation__link {
  text-decoration: none;
}

.text {
  margin-left: 15vw;
  margin-top: 12vw;
}
.text h1 {
  font-family: Roboto;
  font-size: 6.1vw;
  font-weight: 900;
  color: rgb(255, 252, 252);
}
.text .text__btn {
  border: none;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
  background-color: #DD2242;
  color: white;
  font-family: DM Sans;
  padding: 1.2vw;
  padding-left: 3.7vw;
  padding-right: 3.7vw;
}

.articles .articles__el1 {
  background-image: url(../images/secondyshadow.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 40vw;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
}
.articles .articles__el1 .articles__el1__blockinfo__img1 {
  height: 20vw;
  width: 25vw;
  margin-left: 20vw;
  margin-top: 10vw;
}
.articles .articles__el1 .articles__el1__txt {
  margin-top: 12vw;
  font-family: DM Sans;
  font-size: 1vw;
}
.articles .articles__el1 .articles__el1__blockinfo__btn {
  border: none;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
  background-color: #DD2242;
  color: white;
  font-family: DM Sans;
  padding: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 1.5vw;
}
.articles .articles__el2 {
  background-image: url(../images/shadowthirdyyy.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 40vw;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
}
.articles .articles__el2 .articles__el2__blockinfo__img2 {
  height: 20vw;
  width: 25vw;
  margin-top: 10vw;
}
.articles .articles__el2 .articles__el2__txt {
  font-family: DM Sans;
  margin-left: 20vw;
  margin-top: 12vw;
  font-size: 1vw;
}
.articles .articles__el2 .articles__el2__blockinfo__btn {
  border: none;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
  background-color: #DD2242;
  color: white;
  font-family: DM Sans;
  padding: 0.7vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 1.5vw;
}

.explore {
  background-image: url(../images/fourth.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 88vw;
}
.explore .explore__img {
  position: absolute;
  height: 40vw;
  width: 99.5vw;
  margin-top: 48vw;
  z-index: 1;
}
.explore .explore__text1 {
  position: relative;
  text-align: center;
  font-family: DM Sans;
  color: white;
  padding-top: 60vw;
  z-index: 10;
  font-size: 1vw;
}
.explore .explore__text1 h1 {
  font-size: 2.9vw;
  letter-spacing: 0.1vw;
}
.explore .explore__text1 a {
  color: #E0E0E0;
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
  font-weight: 300;
}
.explore .explore__grid {
  position: relative;
  display: grid;
  color: #E0E0E0;
  z-index: 11;
  grid-template-columns: 12vw;
  font-family: DM Sans;
  grid-template-columns: repeat(3, 20vw);
  margin-left: 18.5vw;
  margin-top: 3vw;
}
.explore .explore__grid a {
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
  font-weight: 300;
}
.explore .explore__text2 {
  text-align: center;
  font-size: 1vw;
}
.explore .explore__text2 .explore__text2_red {
  margin-bottom: 1vw;
  color: #DD2242;
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
}
.explore .explore__text3 {
  font-size: 1vw;
  text-align: center;
}
.explore .explore__text3 .explore__text3_red {
  margin-bottom: 1vw;
  color: #DD2242;
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
}
.explore .explore__text4 {
  font-size: 1vw;
  text-align: center;
}
.explore .explore__text4 .explore__text4_red {
  margin-bottom: 1vw;
  color: #DD2242;
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
}

.map {
  margin-bottom: 9vw;
}
.map .map__text {
  text-align: center;
  padding-top: 7vw;
  font-family: DM Sans;
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 1vw;
}
.map .map__text h1 {
  font-size: 2.9vw;
  letter-spacing: 0.1vw;
}
.map .map__text a {
  color: #6F7787;
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
  font-weight: 300;
}
.map .map__gallery {
  margin-left: 24vw;
  margin-top: 4vw;
  text-align: center;
  display: grid;
  grid-template-columns: 18vw 10vw 30vw;
}
.map .map__gallery .map__gallery__img1 {
  width: 16vw;
}
.map .map__gallery .map__gallery__img2 {
  width: 16vw;
}
.map .map__gallery .map__gallery__img3 {
  width: 16vw;
}
.map .map__gallery .map__gallery__img4 {
  width: 16vw;
}
.map .map__gallery .map__gallery__img5 {
  width: 16vw;
}
.map .map__gallery .map__gallery__img6 {
  width: 16vw;
}
.map .map__gallery .map__gallery__first {
  display: grid;
  grid-template-rows: 24vw 8vw;
}
.map .map__gallery .map__gallery__second {
  display: grid;
  grid-template-rows: 10vw 6vw;
}
.map .map__gallery .map__gallery__third {
  display: grid;
  grid-template-rows: 17vw 6vw;
}

.footer {
  height: 5vw;
  background-color: #010A20;
}
.footer .footer__link {
  color: rgb(255, 255, 255);
  font-family: DM Sans;
  font-weight: 500;
  font-size: 0.7vw;
  text-decoration: none;
}
.footer .footer__logo {
  position: absolute;
  height: 3vw;
  margin-left: 5vw;
  margin-top: 1vw;
}
.footer .footer__text {
  margin-left: 25vw;
  word-spacing: 1.5vw;
  padding-top: 2vw;
}
.footer .footer-icon {
  position: absolute;
  margin-left: 70vw;
  margin-top: -1vw;
}
.footer .footer-icon__logo1 {
  width: 1.1vw;
  height: 1vw;
  margin-right: 1vw;
}
.footer .footer-icon__logo2 {
  width: 1.1vw;
  height: 1vw;
}
.footer .footer-icon__logo3 {
  width: 1.1vw;
  height: 1vw;
  margin-left: 1vw;
}
.footer .footer-icon__licences {
  width: 8vw;
  margin-left: 3vw;
  height: 1vw;
}

.circle {
  position: absolute;
  height: 5vw;
  margin-left: 85vw;
  margin-top: -5vw;
}
